html,
body {
  margin: 0;
  padding-top: 20px;
  height: 100%;
}

body {
  color: #333333;
  font-weight: 400;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

p { margin: 0 0 20px; }

h1,
h2{
  margin: 10px 0;
  font-weight: 500;
  line-height: 40px;
  color: inherit;
  text-align: center;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

#d3_header{
    padding: 20px 30px 40px;
    border-bottom: 2px solid black;
    flex: 1;
}

#d3_header h1{
    margin: auto;
    padding-bottom: 20px;
    text-decoration: underline;
}

#d3_values{
    padding: 40px 0;
}

.d3_container {
    width: 600px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

#selection{
    display: block;
    margin: 30px;
}

#application, #search{
    display: block;
    margin-bottom: 30px;
}

#search p{
    display: inline;
}

.component_text {
   border:none;
   outline:none;
   text-align: right;
   width: 45px;
}

.component_div {
   border:solid 1px #d5d5d5;
   padding: 0 0 0 5px;
   display: inline-block;
}

#input_text {
    width: 390px;
}

#submit_form {
    width: 120px;
}

.water_country {
    text-align: left;
    line-height: 20px;
    font-size: 20px;
}

#new_search {
    text-align: center;
    padding: auto 10px;
    display: inline;
}

#table_choices{
    display: block;
    text-align: center;
}

table{
    margin: 0 auto 30px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

#water_spec{
    width: 700px;
    margin: auto;
    padding: 20px 0;
    border: solid 5px black;
}